<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.framework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.android.libcore_ui.application.BaseApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/app_icon"
        android:theme="@style/Activity_translucent_navigation_bar">
        <!--Theme.AppCompat.Light.NoActionBar 最原始主题-->
        <!--Activity_translucent_status_bar 顶部透明风格-->
        <!--Activity_translucent_navigation_bar 底部透明风格-->

        <!-- The Application and the first Activity share the same name
        specified in the android:label field of the <activity> item -->
        <activity android:name="com.android.sample.HomeTestActivity"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- 以下两个category用来标识在应用崩溃之后应该启动的activity，记住一定要加上
                android.intent.category.DEFAULT，因为默认带该category，要不然无法响应-->
                <category android:name="com.android.framework.MAINPAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name="com.android.sample.test_activity.ActivityTestHomePage"
            android:label="@string/activity_test_activity_homepage"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
        </activity>

        <activity android:name="com.android.sample.test_activity.ActivityA"
            android:label="@string/activity_test_activity_A"
            android:screenOrientation="portrait">
        </activity>
        
        <activity android:name="com.android.sample.test_activity.ActivityB"
            android:label="@string/activity_test_activity_B"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_guide.GuideActivity"
            android:label="@string/activity_test_guide"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_dialog.DialogActivity"
            android:label="@string/activity_test_dialog"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_db.DBActivity"
            android:label="@string/activity_test_db"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_cache.CacheActivity"
            android:label="@string/activity_test_cache"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_webview.WebViewActivity"
                  android:label="@string/activity_test_webview"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_utils.UtilsActivity"
                  android:label="@string/activity_test_webview"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.android.sample.test_utils.FileActivity"
                  android:label="@string/activity_test_webview"
                  android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
