<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.libcore_ui">

    <application>
        <activity android:name=".webview.webactivity.WebActivity"
            android:hardwareAccelerated="true">
            <!--<intent-filter>
                <data  android:scheme="http" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>-->
        </activity>
    </application>
</manifest>
